<mat-dialog-content>
    <h2 mat-dialog-title class="message">
        If, you delete this category, all the posts in this category will also be deleted. Are you sure ?
    </h2>
    <div class="icon">
        <i class="material-icons">warning</i>
    </div>
    <div class="row">
        <div class="col-6">
            <button mat-raised-button color="warn" (click)="closeDialog(true)">Yes</button>
        </div>
        <div class="col-6">
            <button mat-raised-button color="primary" (click)="closeDialog(false)">No</button>
        </div>
    </div>
</mat-dialog-content>